.small{

	width: 20%;
}
h2{
	color: cyan;
}
.navbar-right > li > a{
	color: cyan;
	font-style: bold;
}
.place-right{
	padding-right: 0;
	margin-right: 0;
}
.mySection1{
    padding-bottom: 20%;
    overflow: auto;
    background: #FFFFFF;
    min-height: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.mySection2{
    padding-bottom: 20%;
    overflow: auto;
    background: lightblue;
    min-height: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.backgroundImage{
    background: url(http://thumbs.dreamstime.com/x/man-standing-grass-783244.jpg) no-repeat center top scroll ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  height: 85vh;
  position: relative;
}
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.btn-circle {
  width: 100px;
  height: 100px;
  text-align: center;
  
  font-size: 12px;
  line-height: 1.42;
  border-radius: 50%;
  position: relative;
  z-index: 3;
}
.alignCenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    margin-bottom: -50px;
    padding-top: 0;
    text-align: center;
}